/* Main settings */

@font-face {
  font-family: 'Barlow';
  src: url(./../fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Bellefair';
  src: url(./../fonts/Bellefair-Regular.ttf);
}

.dark-blue {
  color: #0B0D17;
}

.light-blue {
  color: #D0D6F9;
}

.white {
  color: #fff;
}

* {
  box-sizing: border-box;
  line-height: 1;
  vertical-align: baseline;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Background images */

.home,
.destination,
.crew,
.technology {
  min-height: 100vh;
}

/* Mobile */
.home {
  background: url(./../assets/home/background-home-mobile.jpg) no-repeat center/cover;
}

.destination {
  background: url(./../assets/destination/background-destination-mobile.jpg) no-repeat center/cover;
}

.crew {
  background: url(./../assets/crew/background-crew-mobile.jpg) no-repeat center/cover;
}

.technology {
  background: url(./../assets/technology/background-technology-mobile.jpg) no-repeat center/cover;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .home {
    background: url(./../assets/home/background-home-tablet.jpg) no-repeat center/cover;
  }
  .destination {
    background: url(./../assets/destination/background-destination-tablet.jpg) no-repeat center/cover;
  }
  .crew {
    background: url(./../assets/crew/background-crew-tablet.jpg) no-repeat center/cover;
  }
  .technology {
    background: url(./../assets/technology/background-technology-tablet.jpg) no-repeat center/cover;
  }  
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .home {
    background: url(./../assets/home/background-home-desktop.jpg) no-repeat center/cover;
  }
  .destination {
    background: url(./../assets/destination/background-destination-desktop.jpg) no-repeat center/cover;
  }
  .crew {
    background: url(./../assets/crew/background-crew-desktop.jpg) no-repeat center/cover;
  }
  .technology {
    background: url(./../assets/technology/background-technology-desktop.jpg) no-repeat center/cover;
  }
}